apiVersion: v1
kind: Secret
metadata:
  name: k8sw04-enti-prod01-cloud-init
  namespace: k8s-enti-prod01
stringData:
  networkData: |
    #cloud-config
    network:
      version: 2
      ethernets:
        enp1s0:
          dhcp4: false
          addresses:
            - 10.138.155.5/26 # <-- VERIFY/CHANGE THIS
          nameservers:
            addresses:
              - 10.103.48.1 # <-- VERIFY/CHANGE THIS
              - 10.103.48.2 # <-- VERIFY/CHANGE THIS
            search:
              - site01.nivolapiemonte.it # <-- VERIFY/CHANGE THIS
          routes:
            - to: 0.0.0.0/0
              via: 10.138.155.1 # <-- VERIFY/CHANGE THIS
              on-link: true

        enp2s0:
          dhcp4: false
          addresses:
            - 10.138.151.68/25 # <-- VERIFY/CHANGE THIS
          routes:
            - to: 10.138.151.0/25 # <-- VERIFY/CHANGE THIS
              on-link: true
          mtu: 9000
          optional: true

        enp3s0:
          optional: true
          addresses:
           - "10.139.34.53/25" # <-- VERIFY/CHANGE THIS
          dhcp4: false
          mtu: 9000
          routes:
           - scope: "link"
             on-link: true
             to: "10.139.34.0/25" # <-- VERIFY/CHANGE THIS
  userData: |
    #cloud-config

    users:
      - name: root
        ssh_authorized_keys: []

    disable_root: false
    ssh_pwauth: false

    keyboard:
      layout: it
      model: pc105
      variant: nodeadkeys
      options: compose:rwin

    apt:
      http_proxy: http://proxy-nivola:3128 # <-- VERIFY/CHANGE THIS
      https_proxy: http://proxy-nivola:3128 # <-- VERIFY/CHANGE THIS

    package_update: true
    package_upgrade: true
    packages:
      - qemu-guest-agent
      - iptables
      - iptables-persistent
      - nfs-common
      - systemd-timesyncd
      - lvm2

    write_files:
      - path: /etc/crictl.yaml
        permissions: "0644"
        content: |
          runtime-endpoint: unix:///run/k3s/containerd/containerd.sock

      - path: /etc/environment
        permissions: "0644"
        content: |
          NO_PROXY=127.0.0.0/8,10.0.0.0/8,cattle-system.svc,172.16.0.0/12,192.168.0.0/16,nivolapiemonte.it,csi.it # <-- VERIFY/CHANGE THIS
          HTTPS_PROXY=http://proxy-nivola:3128 # <-- VERIFY/CHANGE THIS
          HTTP_PROXY=http://proxy-nivola:3128 # <-- VERIFY/CHANGE THIS
          http_proxy=http://proxy-nivola:3128 # <-- VERIFY/CHANGE THIS
          https_proxy=http://proxy-nivola:3128 # <-- VERIFY/CHANGE THIS

      - path: /etc/apt/apt.conf.d/00-proxy
        permissions: "0640"
        owner: root
        content: |
          Acquire::http { Proxy "http://proxy-nivola:3128"; }; # <-- VERIFY/CHANGE THIS
          Acquire::https { Proxy "http://proxy-nivola:3128"; }; # <-- VERIFY/CHANGE THIS

      - path: /etc/modules-load.d/iptables.conf
        permissions: "0644"
        content: |
          ip_tables
          iptable_nat
          ip6_tables
          iptable_filter
          nf_conntrack
          nf_conntrack_ipv4
          nf_conntrack_ipv6
          xt_mark

      - path: /etc/systemd/timesyncd.conf
        permissions: "0644"
        content: |
          [Time]
          NTP=timehost.csi.it # <-- VERIFY/CHANGE THIS
          FallbackNTP=ntp.ubuntu.com

      - path: /usr/local/bin/setup-lvm.sh
        permissions: "0755"
        content: |
          #!/bin/bash
          LOG="/var/log/lvm-setup.log"
          echo "--- Avvio setup LVM --- $(date)" >> $LOG

          for dev in /dev/vdb /dev/vdc; do
            for i in {1..10}; do
              if [ -b "$dev" ]; then
                echo "Dispositivo $dev trovato" >> $LOG
                break
              fi
              echo "Attendo $dev..." >> $LOG
              sleep 3
            done
          done

          pvcreate /dev/vdb >> $LOG 2>&1
          vgcreate vg_rancher /dev/vdb >> $LOG 2>&1
          lvcreate -l 100%FREE -n lv_rancher vg_rancher >> $LOG 2>&1
          mkfs.ext4 /dev/vg_rancher/lv_rancher >> $LOG 2>&1

          pvcreate /dev/vdc >> $LOG 2>&1
          vgcreate vg_kubelet /dev/vdc >> $LOG 2>&1
          lvcreate -l 100%FREE -n lv_kubelet vg_kubelet >> $LOG 2>&1
          mkfs.ext4 /dev/vg_kubelet/lv_kubelet >> $LOG 2>&1

          mkdir -p /var/lib/rancher
          mkdir -p /var/lib/kubelet

          echo "/dev/vg_rancher/lv_rancher /var/lib/rancher ext4 defaults,nofail 0 2" >> /etc/fstab
          echo "/dev/vg_kubelet/lv_kubelet /var/lib/kubelet ext4 defaults,nofail 0 2" >> /etc/fstab

          mount -a >> $LOG 2>&1
          echo "--- Fine setup LVM --- $(date)" >> $LOG

      - path: /etc/systemd/system/setup-lvm.service
        permissions: "0644"
        content: |
          [Unit]
          Description=Setup LVM volumes for rancher and kubelet
          Before=rancher-system-agent.service
          After=network.target local-fs.target
          ConditionPathExists=!/var/lib/rancher/lvm.setup.done

          [Service]
          Type=oneshot
          ExecStart=/usr/local/bin/setup-lvm.sh
          RemainAfterExit=true

          [Install]
          WantedBy=multi-user.target

      - path: /usr/local/bin/link_crictl.sh
        permissions: "0755"
        content: |
          #!/bin/bash
          LOG_FILE="/var/log/link_crictl.log"
          echo "Script link_crictl.sh avviato alle $(date)" >> $LOG_FILE
          while true; do
            if [ -f /var/lib/rancher/rke2/bin/crictl ]; then
              ln -sf /var/lib/rancher/rke2/bin/crictl /usr/bin/crictl
              echo "$(date): Link simbolico creato: /usr/bin/crictl -> /var/lib/rancher/rke2/bin/crictl" >> $LOG_FILE
              touch /var/lib/rancher/lvm.setup.done
              exit 0
            else
              echo "$(date): File crictl non trovato, riprovo tra 20 secondi..." >> $LOG_FILE
              sleep 20
            fi
          done

      - path: /etc/systemd/system/link_crictl.service
        permissions: "0644"
        content: |
          [Unit]
          Description=Link Symbolyc for crictl
          After=network.target

          [Service]
          Type=simple
          ExecStart=/usr/local/bin/link_crictl.sh
          Restart=on-failure

          [Install]
          WantedBy=multi-user.target

    runcmd:
      - systemctl daemon-reload
      - systemctl enable --now systemd-timesyncd.service
      - systemctl enable --now qemu-guest-agent.service
      - systemctl enable setup-lvm.service
      - systemctl start setup-lvm.service
      - systemctl enable link_crictl.service
      - systemctl start link_crictl.service
      - sed -i '/ swap / s/^/#/' /etc/fstab
      - swapoff -a
      - sysctl -w net.ipv4.ip_forward=1
      - sysctl -w net.ipv6.conf.all.forwarding=1
      - sh -c "echo 'net.ipv4.ip_forward=1' >> /etc/sysctl.conf"
      - sh -c "echo 'net.ipv6.conf.all.forwarding=1' >> /etc/sysctl.conf"
      - systemctl stop ufw
      - systemctl disable ufw
      - modprobe macvlan
      - modprobe xt_mark
      - modprobe nf_tables
      - iptables-save
      - ip6tables-save
      - - systemctl
        - enable
        - --now
        - qemu-guest-agent.service
    ssh_authorized_keys:
      - ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQDEKJX0rRQLs7CzWklyRXahTcvdD3bgVRH1cWDtxMN/zpR47bj1wVaq6QUqISnetq4MjTLcyU6k6bRqQBpxJvYMo+hJPjw+wyKum09LTP5dE2y/HXcGoDrIIbz86JxBBI1U/xj4CrYmljEHsyfKMeWDoHFiCcZetlZOx0FN36Mqp9qpReD58TpzCqMgT3UuPIhHweeuC5rVQlvkPnyWx2e+rnkzr/D1ZCHXeioO9ZUVssyD4OiCv1R8zryOkDKng00TnT419BtwuIvnpLs1O2fQccySV7W9B1tBofEUK2W8FlW+g9exvXBLck+N+Y1/AJcFLkdBC+jvQJrKvxD+YmrKmeJ1Nvt8O1xj3WJtaTcgjz2ZNnT/lSvW0pvYA9M4eGRaU6X5Fj7fg3wO6hKOS_H/aArlzNzSor2YKwLbbcp6475snD0ZJh/IgKneeTpWMxBJwrjrDfSr7iIckRUR8LsObtNfPsBhH1VPxXl+NFEVwr8twBnavRoUS0gCW6REfViyjzHEI1lKLZ+6qCftuIb02sNikYpQ2elVi3pqTpx3twSyGqKOVQXl41Q4YzimkCWeUhp1DnshWjb9BCvdFuCgEddSkPwRlTW7mfVg5yupdg7pQzB2v+0j2zfoIHmWO9CYDi8n6UiV2545n8KXMXMn6geu9re0m6kWxqt_fw==
        io@pc160234.csi.it #<-- REMOVE/CHANGE THIS